.question-filter {
    color:black;
    padding: 0 1rem;
    text-align: left;
  }
  
   .quiz-filter__control {
    width: 100%;
    align-items:left;
    margin: 1rem 0;
  }
   
  .quiz-filter label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .quiz-filter select {
    font: inherit;
    padding: 0.5rem 3rem;
    font-weight: bold;
    border-radius: 6px;
  }
